@model List<MensalidadeModel>
<div class="container">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-outline-dark" role="button" asp-area="" asp-controller="Mensalidade" asp-action="Cadastrar">Cadastrar mensalidade</a>
    </div>
    <br />
    <div class="card">

        <div class="card-header">
            <h2>Lista de mensalidades</h2>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Cliente</th>
                        <th scope="col">Vencimento</th>
                        <th scope="col">Valor</th>
                        <th scope="col"> </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        foreach(MensalidadeModel mensalidade in Model)
                        {
                            <tr>
                                <td>@mensalidade.IdCliente</td>
                                <td>@mensalidade.DataVencimento</td>
                                <td>@mensalidade.Valor</td>
                                <td>
                                    <div>
                                        <a data-bs-toggle="tooltip" data-bs-placement="top" title="Editar" role="button" class="me-2" asp-route-id="@mensalidade.Id" asp-controller="Mensalidade" asp-action="Editar"><i class="fa-solid fa-square-pen"></i></a>
                                        <a data-bs-toggle="tooltip" data-bs-placement="top" title="Excluir" role="button" asp-route-id="@mensalidade.Id" asp-controller="Mensalidade" asp-action="ConfirmaExcluir"><i class="fa-solid fa-square-xmark"></i></a>
                                    </div>
                                </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>

    </div>

</div>


