@model List<BanzaiTV.ViewModel.MensalidadeViewModel>;
@using BanzaiTV.Enums.MensalidadesEnums;

<div class="container">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-outline-dark" role="button" asp-area="" asp-controller="Mensalidade" asp-action="Cadastrar">Cadastrar mensalidade</a>
    </div>
    <br />
    <div class="card">

        <div class="card-header">
            <h4>Lista de mensalidades</h4>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Cliente</th>
                        <th scope="col">Vencimento</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Status</th>
                        <th scope="col"> </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var mensalidade in Model)
                        {
                            <tr>
                                <td>@mensalidade.Cliente.Nome</td>
                                <td>@(mensalidade.DataVencimento != null ? mensalidade.DataVencimento.Value.ToString("dd/MM/yyyy") : "Data não disponível")</td>
                                <td>R$ @mensalidade.Valor</td>
                                <td>
                                    @if (mensalidade.Status == StatusEnum.Atrasada)
                                    {
                                        <span class="badge rounded-pill bg-warning text-dark">Atrasada</span>
                                    }
                                    else if (mensalidade.Status == StatusEnum.Paga)
                                    {
                                        <span class="badge rounded-pill bg-secondary">Paga</span>
                                    }else{
                                        <span class="badge rounded-pill bg-info text-dark">Pendente</span>
                                    }
                                </td>
                                    
                                <td>
                                    <div>
                                        <a data-bs-toggle="tooltip" data-bs-placement="top" title="Editar" role="button" class="me-2" asp-route-id="@mensalidade.Id" asp-controller="Mensalidade" asp-action="Editar"><i class="fa-solid fa-square-pen"></i></a>
                                        <a data-bs-toggle="tooltip" data-bs-placement="top" title="Excluir" role="button" asp-route-id="@mensalidade.Id" asp-controller="Mensalidade" asp-action="ConfirmaExcluir"><i class="fa-solid fa-square-xmark"></i></a>
                                    </div>
                                </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>

    </div>

</div>


