@model List<PlanoModel>

<div class="container">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-outline-dark" role="button" asp-area="" asp-controller="Plano" asp-action="Cadastrar">Cadastrar plano</a>
    </div>
    <br />
    <div class="card">

        <div class="card-header">
            <h4>Lista de planos</h4>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Título</th>
                        <th scope="col">Duração</th>
                        <th scope="col">Valor mensal</th>
                        <th scope="col"> </th>
                    </tr>
                </thead>
                <tbody>
                    @if(Model != null && Model.Any())
                    {
                        foreach(PlanoModel plano in Model)
                        {
                            <tr>
                                <td>@plano.Titulo</td>
                                <td>@plano.MesesDuracao</td>
                                <td>R$ @plano.Valor</td>
                                <th>
                                    <div>
                                        <a data-bs-toggle="tooltip" data-bs-placement="top" title="Editar" role="button" class="me-2" asp-route-id="@plano.Id" asp-controller="Plano" asp-action="Editar"><i class="fa-solid fa-square-pen"></i></a>
                                        <a data-bs-toggle="tooltip" data-bs-placement="top" title="Excluir" role="button" asp-route-id="@plano.Id" asp-controller="Plano" asp-action="ConfirmaExcluir"><i class="fa-solid fa-square-xmark"></i></a>
                                    </div>

                                </th>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>

    </div>

</div>


