@model List<ClienteModel>
@using BanzaiTV.Enums.ClienteEnums;

<div class="container">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-outline-dark" role="button" asp-area="" asp-controller="Cliente" asp-action="Cadastrar">Cadastrar cliente</a>
    </div>
    <br />
    <div class="card">

        <div class="card-header">
            <h4>Lista de clientes</h4>
        </div>
        <div class="card-body">
            <table id="tabela" class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Plano</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @if(Model != null && Model.Any())
                    {
                        var numeroLinha = 1;
                        foreach(ClienteModel cliente in Model)
                        {
                            <tr>
                                <td>@numeroLinha</td>
                                <td>@cliente.Nome</td>
                                <td>@cliente.Plano.Titulo</td>
                                <td>
                                    @if (cliente.Status == StatusEnum.Renovar)
                                    {
                                        <a role="button" class="btn btn-primary btn-sm" asp-route-id="@cliente.Id" asp-controller="Cliente" asp-action="Renovar"> <i class="bi bi-arrow-clockwise"></i> Renovar</a>
                                    }
                                </td>
                                <td>
                                    <div>
                                        <a role="button" class="btn btn-primary btn-sm" asp-route-id="@cliente.Id" asp-controller="Cliente" asp-action="VerMais"><i class="bi bi-info-circle"></i> Ver mais</a>
                                        <a role="button" class="btn btn-secondary btn-sm" asp-route-id="@cliente.Id" asp-controller="Cliente" asp-action="Editar"><i class="bi bi-pencil-square"></i> Editar</a>
                                        <a role="button" class="btn btn-danger btn-sm" asp-route-id="@cliente.Id" asp-controller="Cliente" asp-action="ConfirmaExcluir"><i class="bi bi-x-circle"></i> Excluir</a>
                                    </div>

                                </td>
                            </tr>
                            numeroLinha++;
                        }
                    }

                </tbody>
            </table>
        </div>

    </div>

</div>


