@model BanzaiTV.ViewModel.VisaoGeralViewModel;

<div class="container">
        <h4 class="p-3 border bg-light">Visão geral</h4>

        <div class="card-body">

            <div class="row">
                <div class="col card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h3 class="card-title">@Model.QuantidadeClientes</h3>
                        <p class="card-text">CLIENTES CADASTRADOS</p>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col me-1 card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h3 class="card-title">@Model.QuantidadeMensalidadesAtrasadasMesAtual</h3>
                        <p class="card-text">MENSALIDADES <strong>ATRASADAS</strong> NO MÊS ATUAL</p>
                    </div>
                </div>
                <div class="col ms-1 card text-center" style="width: 18rem;">
                    <div class="card-body">
                    <h3 class="card-title">@Model.QuantidadeMensalidadesPendentesMesAtual</h3>
                    <p class="card-text">MENSALIDADES <strong>PENDENTES</strong> NO MÊS ATUAL</p>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col me-1 card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h3 class="card-title">@Model.QuantidadeMensalidadesPagasMesAtual</h3>
                        <p class="card-text">MENSALIDADES <strong>PAGAS</strong> NO MÊS ATUAL</p>
                    </div>
                </div>
                <div class="col ms-1 card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h3 class="card-title">R$ @Model.ValorReceberMesAtual</h3>
                        <p class="card-text">EM ABERTO, PARA <strong>RECEBER</strong> NO MÊS ATUAL</p>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col me-1 card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h3 class="card-title">@Model.QuantidadeMensalidadesAtrasadas</h3>
                        <p class="card-text">MENSALIDADES <strong>ATRASADAS</strong> NO TOTAL</p>
                    </div>
                </div>
                <div class="col ms-1 card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h3 class="card-title">@Model.QuantidadeMensalidadesPendentes</h3>
                    <p class="card-text">MENSALIDADES <strong>PENDENTES</strong> NO TOTAL</p>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col me-1 card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h3 class="card-title">@Model.QuantidadeMensalidadesPagas</h3>
                        <p class="card-text">MENSALIDADES <strong>PAGAS</strong> NO TOTAL</p>
                    </div>
                </div>
                <div class="col ms-1 card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h3 class="card-title">R$ @Model.ValorReceber</h3>
                        <p class="card-text">EM ABERTO, PARA <strong>RECEBER</strong> NO TOTAL</p>
                    </div>
                </div>
            </div>



        </div>

</div>